<div class="grid-container">
  <div class="container">
    <div class="form">
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="username" placeholder="Username" [disabled]="connected" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="connect()" [disabled]="connected">Connect</button>
      <button mat-raised-button color="warn" (click)="disconnect()" [disabled]="!connected">Disconnect</button>
      <button mat-raised-button color="primary" (click)="retrievePastMessages()" [disabled]="!connected">Retrieve Messages / Refresh</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>

    <div class="chat-area">
      <mat-card>
        <mat-card-content>
          <div class="chat-log">
            <textarea #logArea readonly rows="12" [(ngModel)]="logContent"></textarea>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="input-area">
      <mat-form-field appearance="fill">
        <input matInput type="text" [(ngModel)]="message" placeholder="Message" class="wider-input" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="send()" [disabled]="!message">Send</button>
    </div>
  </div>

  <div class="connected-users" *ngIf="connectedUsersArray.length > 0">
    <h3>Connected User(s):</h3>
    <ol>
      <li *ngFor="let user of connectedUsersArray">{{ user }}</li>
    </ol>
  </div>
</div>
