  .grid-container {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 30px;
    background-color: rgb(24, 0, 0);
    min-height: 100vh;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 5px;
    }
  
    .button-container {
      flex-direction: column;
    }
  
    .button {
      font-size: 12px;
      padding: 6px 12px;
      width: 100%;
    }
  }
    
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 7px;
  }
  
  .button.selected {
    background-color: #eb36be;
  }
  
  .timer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: rgb(250, 235, 95)
  }
