<mat-toolbar color="primary" class="text-center">
  Card Matching Game
</mat-toolbar>

<div class="grid-container">
  <div>
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        class="button"
        [class.selected]="(selectedDifficulty$ | async) === 'easy'"
        (click)="selectDifficulty('easy')"
      >
        Easy (5 pairs)
      </button>

      <button
        mat-raised-button
        color="primary"
        class="button"
        [class.selected]="(selectedDifficulty$ | async) === 'medium'"
        (click)="selectDifficulty('medium')"
      >
        Medium (10 pairs)
      </button>

      <button
        mat-raised-button
        color="primary"
        class="button"
        [class.selected]="(selectedDifficulty$ | async) === 'hard'"
        (click)="selectDifficulty('hard')"
      >
        Hard (20 pairs)
      </button>

      <button
        mat-raised-button
        color="primary"
        class="button"
        [class.selected]="(selectedDifficulty$ | async) === 'extreme'"
        (click)="selectDifficulty('extreme')"
      >
        Extreme (78 pairs)
      </button>
    </div>

    <div class="timer">
      <span [ngStyle]="{ 'font-weight': (isTimerRunning$ | async) ? 'bold' : 'normal' }">
        Time: {{ timer$ | async | number : "1.2-2" }} s
      </span>
    </div>

    <div class="grid">
      <app-game-setup
        *ngFor="let c of cardsData$ | async; let i = index"
        [index]="i"
        (cardClicked)="cardClicked(i)"
      ></app-game-setup>
    </div>
  </div>

  <app-leaderboard [leaderboardData]="(leaderboardData$ | async) || []"></app-leaderboard>

</div>
