<div class="leaderboard-container" *ngIf="leaderboardData.length > 0; else emptyLeaderboard">
  <span style="font-weight: 500;">Leaderboard ({{ gameSvc.selectedtDifficulty }})</span>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Nick</th>
        <th>Timing</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaderboardData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.timer | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-center">
    Tips for faster timing: You can also click on the same image twice..
  </p>
</div>

<ng-template #emptyLeaderboard>
  <p class="empty-leaderboard">No leaderboard data available.</p>
</ng-template>
