/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-menu-panel.custom-menu {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  .mat-menu-panel.custom-menu button {
    color: #ffffff;
  }
   */